<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/trangchuCSS.css">
    <link rel="stylesheet" href="css/giohangCSS.css">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

    <script src="js/cart.js"></script>
</head>

<body ng-app="myApp">
    <header id="navbar" ng-include="'module-hoa/header.html'">

    </header>
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="trangchu.html">TRANG CHỦ</a></li>
            <li>GIỎ HÀNG</li>
        </ul>
    </div>
    <div>
        <h1 class="title">GIỎ HÀNG</h1>
    </div>
    <article ng-controller="proCtrl">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="">Tên sản phẩm</th>
                        <th scope="">Giá</th>
                        <th scope="">Số lượng</th>
                        <th scope="">Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in cart">
                        <td>
                            <img src=" /images/{{c.hinh}} " style="max-width: 20%; "> {{c.ten | uppercase}}
                        </td>
                        <td style="width: 170px;"> {{c.gia | currency : "&#8363; " : 0}}</td>
                        <td style="width: 150px; ">

                            <button class="btn btn-outline-warning " ng-click="minus(c.id) " type="button ">
                                    <i style="font-size:10px " class="fa ">&#xf068;</i>
                                </button> {{c.sl}}
                            <button class="btn btn-outline-warning " type="button " ng-click="add(c.id) ">
                                    <i style="font-size:10px " class="fa ">&#xf067;</i>
                                </button>
                        </td>
                        <td style="width: 170px;">{{c.gia*c.sl | currency : "&#8363; " : 0}}</td>
                    </tr>
                </tbody>
            </table>

            <p>
                <a class="text-body float-right" href="sanpham.html" style="text-decoration: none;"><i class='fas'>&#xf100;</i>Tiếp tục mua sắm</a>
            </p>

            <br><br>
            <div class="float-right">
                <p style="font-weight: bold; font-size: 26px;"><label class="text-secondary">Tất cả:</label> {{total | currency : "&#8363; " : 0}}</p>
            </div>
            <br><br><br>
            <div class="float-right">
                <button class="btn btn-warning" type="button" ng-click="xoaCart()">Xóa giỏ hàng</button>
                <button class="btn btn-warning" type="button">Thanh toán</button>
            </div>
        </div>
    </article>

    <footer style="margin-bottom:0; background-color: #252525; color: blanchedalmond; padding-top: 70px; margin-top: 250px; padding-bottom: 20px; " ng-include=" 'module-hoa/footer1.html' ">

    </footer>
    <footer style="margin-bottom:0; background-color: #2F2F2F; color: #555555; padding: 5px; " ng-include=" 'module-hoa/footer2.html' ">

    </footer>
</body>

</html>